@page
@model About

@{
    ViewData["Title"] = "О программе";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<p>Лабораторная работа №1 по дисциплине "Разработка приложений ASP.NET".</p>
<p>Выполнил студент группы ДИHРБ-31 Хомутов Даниил.</p>
<p>Вариант 19.</p>
<p>Список задач для домашнего ремонта (атрибуты: описание задачи, место в доме, статус выполнения).</p>