@page
@model About

@{
    ViewData["Title"] = "О программе";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<p>Лабораторная работа №1 по дисциплине "Разработка приложений ASP.NET".</p>
<p>Выполнил студент группы ДИHРБ-31 Харичев Данил.</p>
<p>Вариант 8.</p>
<p>Список сотрудников (атрибуты: строка-ФИО, должность, флаг увольнения, число-оклад).</p>