@page "/Edit/{id}"
@model Lab1.Pages.EditModel
@{
    ViewData["Title"] = "Редактирование задачи для домашнего ремонта";
}

<div align="center">
    <h2 class="display-4 text-center mb-5">
        Редактирование задачи для домашнего ремонта
    </h2>
    <form class="col-4 card p-3" align="left" method="post">
        <input type="hidden" asp-for="Id"/>
        <div class="form-group mb-3">
            <label>Описание задачи</label>
            <input class="form-control" type="text" required asp-for="Description" placeholder="Введите описание задачи">
        </div>
        <div class="form-group mb-3">
            <label>Место в доме</label>
            <input class="form-control" type="text" required asp-for="Location" placeholder="Введите место в доме">
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" asp-for="IsCompleted" type="checkbox">
            <label class="form-check-label">
                Выполнено
            </label>
        </div>
        <button type="submit" class="btn btn-primary">
            Сохранить
        </button>
    </form>
</div>