@page
@model Lab1.Pages.IndexModel
@{
    ViewData["Title"] = "Список задач для домашнего ремонта";
}

<div align="center">
    <h2 class="display-4 mb-4">
        Список задач для домашнего ремонта
    </h2>
    <a class="btn btn-info mb-3" asp-page="/Create">Добавить задачу</a>
    @if (Model.Repair == null || Model.Repair.Count == 0)
    {
        <h4>Список пуст</h4>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Описание задачи</th>
                <th>Место в доме</th>
                <th>Статус выполнения</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in Model.Repair)
            {
                <tr>
                    <td>
                        @task.Fullname
                    </td>
                    <td>
                        @task.Job
                    </td>
                    <td>
                        @if (task.Fired)
                        {
                            <div>Выполнено</div>
                        }
                        else
                        {
                            <div>Не выполнено</div>
                        }
                    </td>
                    <td>
                        <form method="post" asp-page-handler="delete">
                            <input type="hidden" name="id" value="@task.Id"/>
                            <button type="submit" style="background-color: white; border-width: 0">
                                Удалить
                            </button>
                        </form>
                    </td>
                    <td>
                        <a asp-page="Edit" asp-route-id="@task.Id">
                            Редактирование
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
